n8n/stock_alert_workflow.json
{
  "name": "alerts",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1056,
        -16
      ],
      "id": "181724c1-2eb3-472e-8631-396238cf5151",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8001/run_NAV_Alert_Trigger",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ticker\":\"{{ $json.ticker }}\" ,\n  \"threshold\":{{ $json.threshold }}\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -368,
        -32
      ],
      "id": "1ea54345-cc83-424f-ac9e-3fd386c8fffc",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6b30e1ae-a752-448d-bd46-192d7a1d567b",
              "leftValue": "={{ $json.alert.alert_status }}",
              "rightValue": "ALERT",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -32,
        -32
      ],
      "id": "0ad9cc13-8c72-4de9-bcfa-ce5596c94705",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cdb96285-46dd-4b17-afe5-8cdcb249c411",
              "name": "Stock",
              "value": "={{ $('HTTP Request').item.json.ticker}}",
              "type": "string"
            },
            {
              "id": "040daaa0-d225-4420-b1c6-fa27782c616b",
              "name": "Alert Status",
              "value": "={{ $('HTTP Request').item.json.alert.alert_status }}",
              "type": "string"
            },
            {
              "id": "4561e92c-2043-4a2b-b170-32d9b0cd30f1",
              "name": "Message",
              "value": "={{ $('HTTP Request').item.json.alert.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        64
      ],
      "id": "7716e4e8-9ae1-4466-b845-7d1fac000c36",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "sendTo": "swathikiransr@gmail.com",
        "subject": "={{ \n  $('HTTP Request').item.json[\"alert\"][\"alert_status\"] === 'ALERT'\n    ? `ALERT – ${$('HTTP Request').item.json[\"ticker\"]} price change ${$('HTTP Request').item.json[\"analysis\"][\"data\"][\"drop_percentage\"]}% over ${$('HTTP Request').item.json[\"price_data\"][\"data\"][\"period\"]}`\n    : `Status – ${$('HTTP Request').item.json[\"ticker\"]} within range (${$('HTTP Request').item.json[\"analysis\"][\"data\"][\"drop_percentage\"]}% over ${$('HTTP Request').item.json[\"price_data\"][\"data\"][\"period\"]})`\n}}\n",
        "message": "=<div style=\"font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif; background-color:#f3f4f6; padding:20px 0;\">\n  <div style=\"max-width:700px; margin:0 auto; background-color:#ffffff; border-radius:8px; padding:24px; border:1px solid #e5e7eb;\">\n    \n    <!-- Header -->\n    <h2 style=\"margin:0 0 4px 0; font-size:22px; color:#111827;\">\n      Monitoring update for {{ $('HTTP Request').item.json[\"ticker\"] }} \n    </h2>\n    <p style=\"margin:0 0 16px 0; font-size:13px; color:#6b7280;\">\n      Automated alert generated by your Financial Analyst system.\n    </p>\n    \n    <hr style=\"border:none; border-top:1px solid #e5e7eb; margin:16px 0;\" />\n\n    <!-- Summary -->\n    <h3 style=\"margin:0 0 8px 0; font-size:16px; color:#111827;\">📌 Summary</h3>\n    <table style=\"width:100%; border-collapse:collapse; font-size:14px;\">\n      <tbody>\n        <tr style=\"background-color:#f9fafb;\">\n          <td style=\"padding:6px 8px; color:#6b7280; width:40%;\">Current price</td>\n          <td style=\"padding:6px 8px; color:#111827; font-weight:600;\">\n            {{ $('HTTP Request').item.json[\"price_data\"][\"data\"][\"current_price\"] }}\n          </td>\n        </tr>\n        <tr>\n          <td style=\"padding:6px 8px; color:#6b7280;\">Previous close</td>\n          <td style=\"padding:6px 8px; color:#111827;\">\n            {{ $('HTTP Request').item.json[\"price_data\"][\"data\"][\"previous_price\"] }}\n          </td>\n        </tr>\n        <tr style=\"background-color:#f9fafb;\">\n          <td style=\"padding:6px 8px; color:#6b7280;\">Today's move</td>\n          <td style=\"padding:6px 8px; color:#b91c1c;\">\n            {{ $('HTTP Request').item.json[\"price_data\"][\"data\"][\"change_pct\"] }}% \n            ({{ $('HTTP Request').item.json[\"price_data\"][\"data\"][\"change_amount\"] }})\n          </td>\n        </tr>\n        <tr>\n          <td style=\"padding:6px 8px; color:#6b7280;\">Period analysed</td>\n          <td style=\"padding:6px 8px; color:#111827;\">\n            {{ $('HTTP Request').item.json[\"price_data\"][\"data\"][\"period\"] }} \n            (interval: {{ $('HTTP Request').item.json[\"price_data\"][\"data\"][\"interval\"] }})\n          </td>\n        </tr>\n        <tr style=\"background-color:#f9fafb;\">\n          <td style=\"padding:6px 8px; color:#6b7280;\">Cumulative move over period</td>\n          <td style=\"padding:6px 8px; color:#111827;\">\n            {{ $('HTTP Request').item.json[\"analysis\"][\"data\"][\"drop_percentage\"] }}%\n          </td>\n        </tr>\n      </tbody>\n    </table>\n\n    <hr style=\"border:none; border-top:1px solid #e5e7eb; margin:16px 0;\" />\n\n    <!-- Alert Evaluation -->\n    <h3 style=\"margin:0 0 8px 0; font-size:16px; color:#111827;\">📌 Alert Evaluation</h3>\n    <table style=\"width:100%; border-collapse:collapse; font-size:14px;\">\n      <tbody>\n        <tr style=\"background-color:#fef2f2;\">\n          <td style=\"padding:6px 8px; color:#6b7280; width:40%;\">Alert status</td>\n          <td style=\"padding:6px 8px; color:#b91c1c; font-weight:700;\">\n            {{ $('HTTP Request').item.json[\"alert\"][\"alert_status\"] }}\n          </td>\n        </tr>\n        <tr>\n          <td style=\"padding:6px 8px; color:#6b7280;\">Severity</td>\n          <td style=\"padding:6px 8px; color:#b91c1c; font-weight:600;\">\n            {{ $('HTTP Request').item.json[\"analysis\"][\"data\"][\"severity\"] }}\n          </td>\n        </tr>\n        <tr style=\"background-color:#f9fafb;\">\n          <td style=\"padding:6px 8px; color:#6b7280;\">System message</td>\n          <td style=\"padding:6px 8px; color:#111827;\">\n            {{ $('HTTP Request').item.json[\"alert\"][\"message\"] }}\n          </td>\n        </tr>\n        <tr>\n          <td style=\"padding:6px 8px; color:#6b7280;\">Threshold applied</td>\n          <td style=\"padding:6px 8px; color:#111827;\">\n            {{ $('HTTP Request').item.json[\"alert\"][\"threshold\"] ?? $('HTTP Request').item.json[\"analysis\"][\"data\"][\"threshold\"] }}% drop\n          </td>\n        </tr>\n      </tbody>\n    </table>\n\n    <hr style=\"border:none; border-top:1px solid #e5e7eb; margin:16px 0;\" />\n\n    <!-- Market Context -->\n    <h3 style=\"margin:0 0 8px 0; font-size:16px; color:#111827;\">📌 Market Context</h3>\n    <table style=\"width:100%; border-collapse:collapse; font-size:14px;\">\n      <tbody>\n        <tr style=\"background-color:#f9fafb;\">\n          <td style=\"padding:6px 8px; color:#6b7280; width:40%;\">52-week high</td>\n          <td style=\"padding:6px 8px; color:#111827;\">\n            {{ $('HTTP Request').item.json[\"price_data\"][\"data\"][\"52_week_high\"] }}\n          </td>\n        </tr>\n        <tr>\n          <td style=\"padding:6px 8px; color:#6b7280;\">52-week low</td>\n          <td style=\"padding:6px 8px; color:#111827;\">\n            {{ $('HTTP Request').item.json[\"price_data\"][\"data\"][\"52_week_low\"] }}\n          </td>\n        </tr>\n        <tr style=\"background-color:#f9fafb;\">\n          <td style=\"padding:6px 8px; color:#6b7280;\">Distance from high</td>\n          <td style=\"padding:6px 8px; color:#111827;\">\n            {{ $('HTTP Request').item.json[\"price_data\"][\"data\"][\"distance_from_high\"] }}%\n          </td>\n        </tr>\n        <tr>\n          <td style=\"padding:6px 8px; color:#6b7280;\">Distance from low</td>\n          <td style=\"padding:6px 8px; color:#111827;\">\n            {{ $('HTTP Request').item.json[\"price_data\"][\"data\"][\"distance_from_low\"] }}%\n          </td>\n        </tr>\n        <tr style=\"background-color:#f9fafb;\">\n          <td style=\"padding:6px 8px; color:#6b7280;\">Current volume</td>\n          <td style=\"padding:6px 8px; color:#111827;\">\n            {{ $('HTTP Request').item.json[\"price_data\"][\"data\"][\"volume\"] }}\n          </td>\n        </tr>\n        <tr>\n          <td style=\"padding:6px 8px; color:#6b7280;\">Average volume</td>\n          <td style=\"padding:6px 8px; color:#111827;\">\n            {{ $('HTTP Request').item.json[\"price_data\"][\"data\"][\"avg_volume\"] }}\n          </td>\n        </tr>\n      </tbody>\n    </table>\n\n    <hr style=\"border:none; border-top:1px solid #e5e7eb; margin:16px 0;\" />\n\n    <!-- Recent Performance -->\n    <h3 style=\"margin:0 0 8px 0; font-size:16px; color:#111827;\">📌 Recent Daily Performance</h3>\n    <table style=\"width:100%; border-collapse:collapse; font-size:13px; border:1px solid #e5e7eb;\">\n      <thead>\n        <tr style=\"background-color:#f3f4f6;\">\n          <th style=\"padding:6px 8px; text-align:left; border-bottom:1px solid #e5e7eb;\">Date</th>\n          <th style=\"padding:6px 8px; text-align:right; border-bottom:1px solid #e5e7eb;\">Price</th>\n          <th style=\"padding:6px 8px; text-align:right; border-bottom:1px solid #e5e7eb;\">Return %</th>\n        </tr>\n      </thead>\n      <tbody>\n        {% for i in [0,1,2,3,4] %}\n        <tr style=\"background-color: {{ i % 2 == 0 ? '#ffffff' : '#f9fafb' }};\">\n          <td style=\"padding:6px 8px; text-align:left;\">\n            {{ $('HTTP Request').item.json[\"price_data\"][\"data\"][\"historical_data\"][i][\"date\"] }}\n          </td>\n          <td style=\"padding:6px 8px; text-align:right;\">\n            {{ $('HTTP Request').item.json[\"price_data\"][\"data\"][\"historical_data\"][i][\"price\"] }}\n          </td>\n          <td style=\"padding:6px 8px; text-align:right;\">\n            {{ $('HTTP Request').item.json[\"price_data\"][\"data\"][\"historical_data\"][i][\"return_pct\"] }}%\n          </td>\n        </tr>\n        {% endfor %}\n      </tbody>\n    </table>\n\n    <hr style=\"border:none; border-top:1px solid #e5e7eb; margin:16px 0;\" />\n\n    <!-- Analyst Note -->\n    <h3 style=\"margin:0 0 8px 0; font-size:16px; color:#111827;\">📌 Analyst Note</h3>\n    <div style=\"background-color:#f9fafb; border-radius:6px; padding:12px 14px; font-size:14px; color:#111827; line-height:1.5;\">\n      {{ $node[\"AI Agent\"].json[\"output\"] }}\n    </div>\n\n    <p style=\"margin-top:16px; font-size:11px; color:#9ca3af;\">\n      This alert was generated automatically based on your configured thresholds. \n      Review the information above before making any investment decisions.\n    </p>\n  </div>\n</div>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        640,
        -240
      ],
      "id": "f2a2de92-5d94-4546-b17a-69d7318124b3",
      "name": "Send a message",
      "webhookId": "2d091f8e-8280-481f-8f72-aee6373d2145",
      "credentials": {
        "gmailOAuth2": {
          "id": "P1Od0gMT7B1F99ZX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "insert into nav_alert_logs (\n  ticker,\n  user_threshold,\n  effective_threshold,\n  alert_status,\n  severity,\n  alert_message,\n  current_price,\n  previous_price,\n  change_pct,\n  change_amount,\n  period,\n  interval,\n  volume,\n  avg_volume,\n  high_52w,\n  low_52w,\n  distance_from_high,\n  distance_from_low,\n  drop_percentage,\n  alert_triggered,\n  raw_payload\n)\nvalues (\n  '{{$json[\"ticker\"]}}',\n  {{$json[\"threshold\"] ?? 5}},  -- user-provided or default 5\n  {{$json[\"alert\"][\"threshold\"] ?? $json[\"analysis\"][\"data\"][\"threshold\"] ?? 5}},\n  '{{$json[\"alert\"][\"alert_status\"]}}',\n  '{{$json[\"analysis\"][\"data\"][\"severity\"]}}',\n  '{{$json[\"alert\"][\"message\"]}}',\n  {{$json[\"price_data\"][\"data\"][\"current_price\"]}},\n  {{$json[\"price_data\"][\"data\"][\"previous_price\"]}},\n  {{$json[\"price_data\"][\"data\"][\"change_pct\"]}},\n  {{$json[\"price_data\"][\"data\"][\"change_amount\"]}},\n  '{{$json[\"price_data\"][\"data\"][\"period\"]}}',\n  '{{$json[\"price_data\"][\"data\"][\"interval\"]}}',\n  {{$json[\"price_data\"][\"data\"][\"volume\"]}},\n  {{$json[\"price_data\"][\"data\"][\"avg_volume\"]}},\n  {{$json[\"price_data\"][\"data\"][\"52_week_high\"]}},\n  {{$json[\"price_data\"][\"data\"][\"52_week_low\"]}},\n  {{$json[\"price_data\"][\"data\"][\"distance_from_high\"]}},\n  {{$json[\"price_data\"][\"data\"][\"distance_from_low\"]}},\n  {{$json[\"analysis\"][\"data\"][\"drop_percentage\"]}},\n  {{$json[\"analysis\"][\"data\"][\"alert_triggered\"]}},\n  '{{JSON.stringify($json)}}'::jsonb\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -176,
        160
      ],
      "id": "95cc662f-aab9-48a0-a4a2-22252ba85024",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "ka8LJe8OnfASbTyp",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a senior equity research analyst.\n\nWrite a concise analyst note (3–6 sentences) about the following price alert.\nExplain:\n- What has happened to the stock price,\n- How significant the move is vs the threshold and recent range,\n- Any risk/volatility context you can infer from the data,\n- What an investor or trader should watch next.\n\nKeep a neutral, professional tone. Do NOT give explicit buy/sell recommendations.\nReturn ONLY the analyst note paragraph as plain text (no title, no bullets, no emojis).\n\nDATA:\nTicker: {{ $('HTTP Request').item.json[\"ticker\"] }}\nAlert status: {{ $('HTTP Request').item.json[\"alert\"][\"alert_status\"] }}\nAlert severity: {{ $('HTTP Request').item.json[\"alert\"][\"severity\"] }}\nAlert message: {{ $('HTTP Request').item.json[\"alert\"][\"message\"] }}\nDrop percentage: {{ $('HTTP Request').item.json[\"analysis\"][\"data\"][\"drop_percentage\"] }}%\nDrop threshold: {{ $('HTTP Request').item.json[\"analysis\"][\"data\"][\"threshold\"] }}%\nCurrent price: {{ $('HTTP Request').item.json[\"price_data\"][\"data\"][\"current_price\"] }}\nPrevious close: {{ $('HTTP Request').item.json[\"price_data\"][\"data\"][\"previous_price\"] }}\n1-day change (%): {{ $('HTTP Request').item.json[\"price_data\"][\"data\"][\"change_pct\"] }}\n1-day change ($): {{ $('HTTP Request').item.json[\"price_data\"][\"data\"][\"change_amount\"] }}\nVolume: {{ $('HTTP Request').item.json[\"price_data\"][\"data\"][\"volume\"] }}\nAverage volume: {{ $('HTTP Request').item.json[\"price_data\"][\"data\"][\"avg_volume\"] }}\n52-week high: {{ $('HTTP Request').item.json[\"price_data\"][\"data\"][\"52_week_high\"] }}\n52-week low: {{ $('HTTP Request').item.json[\"price_data\"][\"data\"][\"52_week_low\"] }}\nDistance from 52-week high (%): {{ $('HTTP Request').item.json[\"price_data\"][\"data\"][\"distance_from_high\"] }}\nDistance from 52-week low (%): {{ $('HTTP Request').item.json[\"price_data\"][\"data\"][\"distance_from_low\"] }}\n\nRecent historical prices (date, price, return_pct):\n{{ $('HTTP Request').item.json[\"price_data\"][\"data\"][\"historical_data\"] }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        272,
        -240
      ],
      "id": "92e3c6d6-e77d-4ece-af00-163a3150fe5a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        272,
        -48
      ],
      "id": "0f7f8472-bfe9-4841-8053-fea08e341d78",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "HYv7gCKZNVW88FO8",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "alert",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -784,
        -224
      ],
      "id": "4bc0a878-fab1-4aec-a897-8a41287d4f9f",
      "name": "Webhook",
      "webhookId": "75d450a2-17b0-4f57-a64c-564bd011edf1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO user_alert_data (email, ticker, threshold)\nVALUES ('{{ $json.body.email }}','{{ $json.body.ticker }}' , '{{ $json.body.threshold_value }}')\nRETURNING *;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -576,
        -224
      ],
      "id": "2679f4c5-d4ba-458e-a899-ea7b1283f0fd",
      "name": "Store User Details",
      "credentials": {
        "postgres": {
          "id": "ka8LJe8OnfASbTyp",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM user_alert_data a\nUSING user_alert_data b\nWHERE \n    a.id > b.id\n    AND a.email = b.email\n    AND a.ticker = b.ticker\n    AND a.threshold = b.threshold;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -352,
        -224
      ],
      "id": "dadef37e-d27b-44c4-82d9-d9d9a64baf22",
      "name": "Removing the redundant values",
      "credentials": {
        "postgres": {
          "id": "ka8LJe8OnfASbTyp",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, email, ticker, threshold\nFROM user_alert_data\nWHERE is_active = TRUE;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -864,
        -16
      ],
      "id": "bca884fe-9094-463d-aeb4-55427d22b5e0",
      "name": "Retrieve User Details",
      "credentials": {
        "postgres": {
          "id": "ka8LJe8OnfASbTyp",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -672,
        -16
      ],
      "id": "0954814f-7486-477f-885b-770b47c07f32",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        -512,
        144
      ],
      "id": "f2c69386-0f71-4c18-a801-49f4186b337a"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Retrieve User Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        []
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Store User Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store User Details": {
      "main": [
        [
          {
            "node": "Removing the redundant values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve User Details": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cdc5fc83-606d-429a-8716-24774211236e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d74537f362487dd607fe610cb6955d56f72f11c039319a7e5916069e86abb158"
  },
  "id": "9IPuOha9Jfw2aqGm",
  "tags": []
}